.container {
  color: #646464;
  display: flex;
  justify-content: space-between;
}

.containerLeft {
  padding-top: 20px;
  flex-shrink: 1;
  background-image: linear-gradient(
    to right,
    rgb(201, 201, 201),
    rgb(236, 235, 235)
  );
}

.containerRight {
  padding-top: 20px;
  background-color: rgb(236, 235, 235);
  flex-grow: 3;
}

.content {
  padding: 20px;
}

.header {
  font-size: 30px;
  margin-top: 0px;
  text-align: center;
  text-decoration: underline;
}

.cases {
  color: rgb(138, 138, 255);
}

.deaths {
  color: rgb(255, 108, 108);
}

.recovered {
  color: rgb(28, 141, 28);
}

.stats {
  font-style: italic;
  opacity: 60%;
  margin-top: -20px;
}

@media (max-width: 460px) {
  .container {
    flex-wrap: wrap;
  }
  .containerLeft {
    flex-grow: 2;
    background-image: linear-gradient(
      to bottom,
      rgb(201, 201, 201),
      rgb(236, 235, 235)
    );
  }
  .containerRight {
    flex-grow: 2;
  }
  .content {
    margin: 0 auto;
  }
}
