.main {
  display: flex;
  margin: 50px 0px 0px 0px;
  align-items: center;
  flex-direction: column;
  animation: slide-in 0.3s ease-in;
}

.description {
  font-size: 14px;
  background-color: rgb(236, 236, 236);
  padding: 3px;
  border-radius: 3px;
}

.post {
  width: 60%;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}

@keyframes slide-in {
  from {
    transform: translate(-10%, 0%) rotate(-10deg);
    opacity: 0%;
  }
  to {
    transform: translate(0%, 0%) rotate(0deg);
    opacity: 100%;
  }
}

.post img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.post h1 {
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.paginator {
  width: 100%;
  display: flex;
  justify-content: center;
}
.paginator div {
  margin: 25px;
}
.paginator .active {
  cursor: pointer;
}
.paginator .disabled {
  cursor: not-allowed;
  color: rgb(179, 179, 179);
}

@media (max-width: 770px) {
  .post {
    width: 95%;
  }
}
